/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	src: url('/assets/font/tahoma.ttf');
	font-family:"TahomaEmbNoCFF";
	font-anti-alias-type: advanced;
	font-grid-fit-type: pixel;
	font-lookup: embeddedCFF;
	embedAsCFF: false;
}

@font-face {
	src: url('/assets/font/tahoma.ttf');
	font-family:"TahomaEmb";
	font-anti-alias-type: advanced;
	font-grid-fit-type: pixel;
	font-lookup: embeddedCFF;
	embedAsCFF: true;
}

@font-face {
	src: url('/assets/font/tahomabd.ttf');
	font-family:"TahomaEmb";
	font-weight: bold;
	font-anti-alias-type: advanced;
	font-grid-fit-type: pixel;
	font-lookup: embeddedCFF;
	embedAsCFF: true;
}

@font-face {
	src: url('/assets/font/11886.ttf');
	font-family:"OldEnglish";
	font-anti-alias-type: advanced;
	font-grid-fit-type: pixel;
	font-lookup: embeddedCFF;
	embedAsCFF: true;
	unicode-range: 	U+0020-U+0040, /* Punctuation, Numbers */
		U+0041-U+005A, /* Upper-Case A-Z */
		U+005B-U+0060, /* Punctuation and Symbols */
		U+0061-U+007A, /* Lower-Case a-z */
		U+007B-U+007E, /* Punctuation and Symbols */
		U+0400-U+04FF; /* Cyrillic */
}

global {
    fontFamily: TahomaEmb;
}

mx|ToolTip {
    backgroundColor: #3078d0;
    backgroundAlpha: 0.5;
    cornerRadius: 0;
    fontSize: 12px;
    fontFamily: TahomaEmbNoCFF;
    fontWeight: normal;
    color: white; }

.playersName {
	font-family: OldEnglish;
	font-size: 19px;
	color: #3078d0;
}

.test1 {
	font-size: 11.2;
	font-weight: normal;
	font-family: TahomaEmb;
	tracking-left: 0.5;
}

.rateCounter1 {
	font-family: TahomaEmb;
	font-size: 19px;
	font-weight: bold;
	color: #f90028;
}

.rateCounter2 {
	font-family: TahomaEmb;
	font-size: 19px;
	font-weight: bold;
	color: #ff8f17;
}

.rateCounter3 {
	font-family: TahomaEmb;
	font-size: 19px;
	font-weight: bold;
	color: #749b3c;
}

.cashPanelGold {
	font-family: TahomaEmb;
	font-size:19px;
	font-weight:bold;
	color:#ff8f17;
}
.cashPanelDollars {
	font-family: TahomaEmb;
	font-size:19px;
	font-weight:bold;
	color:#749b3c;
}

.dollars {
	font-family:  TahomaEmb;
	font-size:14px;
	color:#749b3c;
	font-weight: bold;
}

.gold {
	font-family: TahomaEmb;
	font-size:14px;
	font-weight: bold;
	color:#ff8f17;
}

.coctailLabel {
	font-family: TahomaEmb;
	font-size:12px;
	letter-spacing:4;
	color:#0088cc;
}
.coctailLabel_hover {
	font-family: TahomaEmb;
	font-size:12px;
	letter-spacing:4;
	color:#0088cc;
	text-decoration:underline;
}

.menuTabStyle {
	font-family: TahomaEmb;
	color: #000000;
	font-size:11px;
}

.coctailSign, .recordItem {
	font-size: 11px;
	font-weight: normal;
	font-family: TahomaEmb;
	tracking-left: 0.1;
	color: #475358;
}
.coctailInfo_title {
	font-family: TahomaEmb;
	font-size:18px;
	font-weight: bold;
	color:#000000;
}

.coctailInfo_desc {
	font-family: TahomaEmb;
	font-size:12px;
	font-weight: normal;
	color:#000000;
	tracking-left: 0.1;
}

.coctailInfo_link, .noCoctail {
	font-family: TahomaEmb;
	font-size:12px;
	font-weight: normal;
	text-decoration: underline;
	color:#0088cc;
}

.choseFriend_title {
	font-family: TahomaEmb;
	font-size:14px;
	font-weight: bold;
	color:#ffffff;
}

.sendButton {
	font-family: TahomaEmb;
	font-size:14px;
}

.rechargeButton {
	font-family: TahomaEmb;
	font-size:11px;
}

.flatButton {
	font-family: TahomaEmb;
	font-size:11px;
}

.rateButton {
	font-family: TahomaEmb;
	font-size:11px;
}

.score {
	font-family: TahomaEmb;
	font-size: 14px;
	font-weight: bold;
	color: #2e93f9;
}

.font12Bold {
	font-size: 12px;
	font-weight: bold;
}

.records {
	font-family: TahomaEmb;
	font-size: 18px;
	font-weight: bold;
	color: #555555;
}

.vipLabel {
	font-family: TahomaEmb;
	font-size: 18px;
	font-weight: bold;
	color: #555555;
}
.vipTimer {
	font-family: TahomaEmb;
	font-size: 12px;
	color: #606060;
}
.vipHowTo {
	font-family: TahomaEmb;
	font-size:12px;
	letter-spacing:4;
	color:#0088cc;
}

.bonus_message {
	font-family: TahomaEmb;
	font-size: 11px;
	color: #555555;
	text-align: center;
}
.bonus_title {
	font-family: TahomaEmb;
	font-weight: bold;
	font-size: 19.2;
	color: #696666;
	text-align: center;
}

.itemsCounter {
	font-family: TahomaEmb;
	font-size: 11px;
	color: #b9b8b8;
}

.study_message {
	font-family: TahomaEmb;
	font-size: 12px;
	color: #555555;
	text-align: center;
}

.message_text {
	content-background-alpha: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	color: #555555;
	border-visible: false;
	paddingBottom: 10px;
    paddingLeft: 10px;
    paddingRight: 10px;
    paddingTop: 10px;
	
}

.contentBorderContainer {
	border-visible:false;
    backgroundAlpha: 0;
}
